# Bitrix
/bitrix/*
!/bitrix/php_interface/
/bitrix/php_interface/dbconn.php
.idea/*
/upload/
/vendor/
/vendor_js/
/node_modules/
/bin/
/bower_components/
/1c_manual/
yandex_*.html
google*.html
sitemap*.xml
composer.phar
restore.php
/install.config
/readme.html
/readme.php
/.access.php
/.htaccess
/favicon.ico
/index.php
/.bottom.menu.php
/.section.php
/.top.menu.php
/404.php
/bitrix/php_interface/.htaccess
/bitrix/php_interface/after_connect_d7.php
/company/.left.menu.php
/company/history.php
/company/index.php
/company/management.php
/company/mission.php
/company/vacancies.php
/contacts/index.php
/include/bx_default_logo.gif
/include/company_name.php
/include/copyright.php
/include/motto.php
/include/news.php
/include/random.php
/login/.section.php
/login/index.php
/news/index.php
/products/.left.menu_ext.php
/products/index.php
/search/.left.menu.php
/search/.section.php
/search/index.php
/search/map.php
/services/index.php
/urlrewrite.php
