# Bitrix
/bitrix/templates/.default
/bitrix/templates/furniture_blue
/bitrix/templates/landing24

/bitrix/admin/
/bitrix/blocks/
/bitrix/cache/
/bitrix/components/
/bitrix/css/
/bitrix/fonts/
/bitrix/gadgets/
/bitrix/images/
/bitrix/js/
/bitrix/lega/
/bitrix/managed_cache/
/bitrix/modules/
/bitrix/panel/
/bitrix/services/
/bitrix/sounds/
/bitrix/themes/
/bitrix/tmp/
/bitrix/tools/
/bitrix/updates/
/bitrix/wizards/
!/bitrix/php_interface/
/bitrix/php_interface/dbconn.php
.idea/*
/upload/
/vendor/
/vendor_js/
/node_modules/
/bin/
/bower_components/
/1c_manual/
yandex_*.html
google*.html
sitemap*.xml
composer.phar
restore.php
/install.config
/readme.html
/readme.php
/.access.php
/.htaccess
/favicon.ico
/index.php
/.bottom.menu.php
/.section.php
/.top.menu.php
/404.php
/bitrix/php_interface/.htaccess
/bitrix/php_interface/after_connect_d7.php
/company/.left.menu.php
/company/history.php
/company/index.php
/company/management.php
/company/mission.php
/company/vacancies.php
/contacts/index.php
/include/bx_default_logo.gif
/include/company_name.php
/include/copyright.php
/include/motto.php
/include/news.php
/include/random.php
/login/.section.php
/login/index.php
/news/index.php
/products/.left.menu_ext.php
/products/index.php
/search/.left.menu.php
/search/.section.php
/search/index.php
/search/map.php
/services/index.php
/urlrewrite.php
/bitrix/.access.php
/bitrix/.settings.php
/bitrix/bitrix.php
/bitrix/composer-bx.json
/bitrix/composer.json.example
/bitrix/coupon_activation.php
/bitrix/footer.php
/bitrix/header.php
/bitrix/index.php
/bitrix/legal/license.html
/bitrix/legal/license.php
/bitrix/license_key.php
/bitrix/p3p.xml
/bitrix/routing_index.php
/bitrix/rss.php
/bitrix/spread.php
/bitrix/urlrewrite.php
/bitrix/virtual_file_system.php
